/* Nav box */
#sr-navigate {
  list-style: none;
  padding: 0;
  max-width: 440px;
}
#sr-navigate li {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
  width: 220px;
  height: 218px;
}
.sr-nav {
  display: block;
  width: 220px;
  height: 218px;
  text-indent: -5000px;
  background: transparent url("../img/nav-btn.png") no-repeat left top;
}
.sr-nav-advocacy {
  background-position: 0px 0px;
}
.sr-nav-newspaper {
  background-position: -220px 0px;
}
.sr-nav-resource {
  background-position: -440px 0px;
}
.sr-nav-vendor {
  background-position: -660px 0px;
}
.sr-nav-advocacy:focus,
.sr-nav-advocacy:hover {
  background-position: 0px -222px;
}
.sr-nav-newspaper:focus,
.sr-nav-newspaper:hover {
  background-position: -220px -222px;
}
.sr-nav-resource:focus,
.sr-nav-resource:hover {
  background-position: -440px -222px;
}
.sr-nav-vendor:focus,
.sr-nav-vendor:hover {
  background-position: -660px -222px;
}
